<dl>
  <dt><svg height="12" width="12"><circle cx="6" cy="6" r="6" fill="red" /></svg></dt><dd><span id="number-of-organizations"></span> organizations</dd>
  <dt><svg height="12" width="12"><circle cx="6" cy="6" r="6" fill="#8addea" /></svg></dt><dd><span id="number-of-contributors"></span> contributors</dd>
  <dt><svg height="12" width="12"><line x1="0" y1="11" x2="12" y2="1" style="stroke:#aaa;stroke-width:1" /></svg></dt><dd><span id="number-of-contributions"></span> contributions</dd>
  <dt><svg height="12" width="12"><line x1="0" y1="11" x2="12" y2="1" style="stroke:red;stroke-width:1" /></svg></dt><dd><span id="number-of-forks"></span> forks</dd>
</dl>
<div>
  {{- range $.Site.Data.github -}}
    {{- $.Page.Scratch.Add "owners" (slice .owner_name) -}}
    {{- range .contributor -}}
      {{- $.Page.Scratch.Add "contributors" (slice .name) -}}
    {{- end }}
  {{- end -}}
  {{- $owners := uniq ($.Page.Scratch.Get "owners") -}}
  {{- $contributors := uniq ($.Page.Scratch.Get "contributors") -}}
  <select id="username" onchange="scrollToUser()">
    <optgroup label="Organizations">
    {{- range $index, $element := $owners -}}
      <option value="{{ $index }}">{{ . }}</option>
    {{- end -}}
    </optgroup>
    <optgroup label="Contributors">
    {{- range $index, $element := $contributors -}}
      <option value="{{ $index }}">{{ . }}</option>
    {{- end -}}
    </optgroup>
  </select>
</div>
<button id="zoom-in" onclick="zoomIn('+')">+</button>
<button id="zoom-out" onclick="zoomOut('-')">-</button>
<div><input type="checkbox" id="toggle-single" onclick="toggleSingle()"> Show only contributors with multiple connections</div>